@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl text-center text-black
    }
}

@layer components {

    .btn-solid{
        @apply px-10 py-2 text-center m-2 text-white rounded-md bg-purple-500
        hover:bg-purple-700 focus:bg-purple-700 font-semibold transition-all}

    .btn-outline{
        @apply px-10 py-2 text-center m-2 text-white rounded-md bg-purple-500 bg-opacity-20
        hover:bg-purple-400 focus:bg-purple-400 font-semibold transition-all
    }
    .btn-ghost{
       @apply px-10 py-2 text-center m-2 text-white rounded-md border-purple-400
    hover:bg-purple-700 focus:bg-purple-700 font-semibold transition-all
    }

    .btn-primary { @apply bg-purple-500;}

    .btn-danger { @apply bg-red-500;}
}